/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*

Stylesheet start

*/

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.container{ width:960px; margin:0 auto; }



/****************

    TEXT
    
****************/

h1{ margin-bottom:20px; }
h2{ margin-bottom:20px; }
h3{}
h4{}
h5{}
h6{}
p{ margin-bottom:15px; color:#464f32; }

strong, b{ font-weight: bold; }
em, i{ font-style: italic; }

/****************

    LINKS
    
****************/

a{ color:#000; }
a:hover{ text-decoration:none; }

/****************

    IMAGES
    
****************/

img{ display:inline-block; }

/****************

    LISTS
    
****************/

ul{ margin:0 0 15px 30px; list-style:disc outside; }
ol{ margin:0 0 15px 30px; list-style:decimal outside; }
dl{}
dt{ font-weight:bold; }
dd, li{}

nav{}

/****************

    TABLES

****************/

table{ width:100%; }
    th{ font-weight:bold; text-align:center; border:1px solid #ccc; padding:8px; }
    td{ border:1px solid #ccc; padding:5px; }

/****************

    FORMS

****************/

fieldset{}
legend{}

select{}
option{}

label{ display:block; }
input, textarea{ overflow:hidden; }
input[type="submit"], input[type="button"], button{ display:inline-block; padding:5px; cursor:pointer; }
input[type="submit"]:hover, input[type="button"]:hover, button:hover{ text-decoration:none; }


/****************

USEFULL CLASSES

****************/

.clear{ width:100%; clear:both; height:1%; font-size:1px; }

